# Ignore the build directory
[Bb]uild
*.png
CMakeLists.txt
INSTALL-LINUX.txt
INSTALL-WIN.txt
OptiXRenderer.vcxproj
OptiXRenderer.vcxproj.filters
OptiXRenderer.vcxproj.user
cmake_install.cmake
sampleConfig.h.in